@font-face {
  font-family: 'JetBrainsMonoNerdFont';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'JetBrainsMonoNerdFont', monospace;
}

.button-link {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #bd93f9; /* Dracula purple */
    color: #f8f8f2; /* Dracula foreground */
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.button-link:hover, .button-link:focus {
    background-color: #ff79c6; /* Dracula pink */
    color: #282a36; /* Dracula background */
}

#opening-selector {
    background-color: #282a36;
    color: #f8f8f2;
    border: 1px solid #6272a4;
    padding: 8px;
    border-radius: 4px;
}

#opening-selector option {
    background-color: #44475a; /* darker background for options */
    color: #f8f8f2;
}
