@font-face {
  font-family: 'JetBrainsMonoNerdFont';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'JetBrainsMonoNerdFont', monospace;
}
